<!--@subject Password Reset Confirmation for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"store url=\"adminhtml/index/resetpassword/\" _query_id=$user.id _query_token=$user.rp_token":"Reset Password URL",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{block type="cms/block" block_id="email_template_say_hello"}} {{htmlescape var=$user.name}}</h1>
            <p>Ha habido una solicitud para cambiar la contraseña de su cuenta.</p>
            <p>Puede cambiar su contraseña en cualquier momento al iniciar sesión en <a href="{{store url="adminhtml/system_account/"}}">su cuenta</a>.</p>
            <p>Si solicitó este cambio de contraseña, por favor abra el siguiente enlace para restablecer su contraseña:</p>
            <table cellspacing="0" cellpadding="0" class="action-button">
                <tr>
                    <td>
                        <a href="{{store url="adminhtml/index/resetpassword/" _query_id=$user.id _query_token=$user.rp_token}}"><span>Reset Password</span></a>
                    </td>
                </tr>
            </table>
            <p>Si el enlace no funciona, por favor copie y pegue la URL en su navegador.</p>
            <p>Si no ha realizado esta petición puede ignorar este mensaje y su contraseña seguirá siendo la misma.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
